.myMessage{
  float: right;
  width: 30em;
  background-color: #d9e5e7;
}

.separate{
  padding: 1em !important;
}

.actionMessage{
  display: none !important;
}

.myMessage:hover .actionMessage{
  display: block !important;
  button {
    background-color: #d9e5e7;
  }
}

.messageAction{
  height: 2em;
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}
