.newMessage{
  height: 3em;
  position: fixed;
  bottom: 0 !important;
  border-radius: 0.3em;
  opacity: 1;
  width: 100%;
  margin: 0.1em 0;

  .form {
    display: flex;
  }

  .input {
    flex-grow: 3;
  }

  input {
    border-right: none;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .send {
    border-left: none;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-top:12.5px;
    padding-bottom: 12.5px;
  }
}
