.avatar{
  img{
    max-width: 3em;
  }
}

.notLike {
  color:#ddd;
}

.message{
  width: 30em;
  background-color: #fff;
}

.separate {
  padding: 1em !important;
}

.messageAction{
  height: 2em;
}

:global(.ui.basic.label).toolbarBtn {
  border: none;

  &:hover {
    color: #333;
  }
}